name: Build and release CLI

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      app_version:
        description: Semantic version of release
        required: true
        type: string

permissions:
  actions: write
  contents: write

jobs:
  build:
    if: startsWith(github.ref, 'refs/tags/cli-') || inputs.app_version != ''
    runs-on: ${{ matrix.os }}
    outputs:
      app_version: ${{ steps.set-build-info.outputs.app_version }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        arch: [aarch64, x86_64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set build info
        id: set-build-info
        run: |
          if [[ ! -z "${{ inputs.app_version }}" ]]; then
            echo "app_version=${{ inputs.app_version }}" >> $GITHUB_OUTPUT
          else
            echo "app_version=${GITHUB_REF_NAME#cli-}" >> $GITHUB_OUTPUT
          fi

          if [[ "${{ matrix.arch }}" == "aarch64" ]]; then
            echo "os_arch=arm64" >> $GITHUB_OUTPUT
          else
            echo "os_arch=amd64" >> $GITHUB_OUTPUT
          fi

          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            echo "os_name=linux" >> $GITHUB_OUTPUT
            echo "target_triple=${{ matrix.arch }}-unknown-linux-gnu" >> $GITHUB_OUTPUT
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            echo "os_name=darwin" >> $GITHUB_OUTPUT
            echo "target_triple=${{ matrix.arch }}-apple-darwin" >> $GITHUB_OUTPUT
          fi

      - name: Setup Rust
        uses: moonrepo/setup-rust@v1
        with:
          targets: "${{ steps.set-build-info.outputs.target_triple }}"

      - name: Setup PyApp
        id: setup-pyapp
        env:
          PYAPP_VERSION: 0.22.0
        run: |
          curl -L -o pyapp.tar.gz https://github.com/ofek/pyapp/releases/download/v${PYAPP_VERSION}/source.tar.gz
          tar -xzf pyapp.tar.gz
          mv pyapp-v* pyapp-latest

      - name: Build binary
        id: build-binary
        env:
          PYAPP_PROJECT_NAME: "beam-client"
          PYAPP_EXEC_MODULE: "beam"
          PYAPP_PROJECT_VERSION: "${{ steps.set-build-info.outputs.app_version }}"
          PYAPP_FULL_ISOLATION: "true"
          PYAPP_DISTRIBUTION_EMBED: "true"
        run: |
          cd pyapp-latest

          if [[ "${{ steps.set-build-info.outputs.target_triple }}" == "aarch64-unknown-linux-gnu" ]]; then
            sudo apt-get install gcc-aarch64-linux-gnu
          fi

          cargo build --release --target ${{ steps.set-build-info.outputs.target_triple }}

          mv target/${{ steps.set-build-info.outputs.target_triple }}/release/pyapp ${PYAPP_EXEC_MODULE}

          NAME=${PYAPP_EXEC_MODULE}-${PYAPP_PROJECT_VERSION}-${{ steps.set-build-info.outputs.os_name }}-${{ steps.set-build-info.outputs.os_arch }}
          TAR_FILE_NAME=${NAME}.tar.gz
          tar -cvzf ${TAR_FILE_NAME} ${PYAPP_EXEC_MODULE}

          echo "art_name=${NAME}" >> $GITHUB_OUTPUT
          echo "bin_file_path=$(pwd)/${PYAPP_EXEC_MODULE}" >> $GITHUB_OUTPUT
          echo "tar_file_path=$(pwd)/${TAR_FILE_NAME}" >> $GITHUB_OUTPUT

      - name: Upload artifact to workflow
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build-binary.outputs.art_name }}
          path: ${{ steps.build-binary.outputs.bin_file_path }}
          if-no-files-found: ignore
          compression-level: "9"

      - name: Upload binary to release
        if: inputs.app_version == ''
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${GITHUB_REF_NAME} "${{ steps.build-binary.outputs.tar_file_path }}"

  formula:
    if: startsWith(github.ref, 'refs/tags/cli-') || inputs.app_version != ''
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Send update formula event
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.DISPATCH_TO_HOMEBREW_BEAM_GH_TOKEN }}
          repository: beam-cloud/homebrew-beam
          event-type: update-formula
          client-payload: |-
            {
              "name": "Beam",
              "version": "${{ needs.build.outputs.app_version }}",
              "tag": "${{ github.ref_name }}",
              "repo": "${{ github.repository }}"
            }
